@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;

  --primary: #0280E4;
  --secondary: #FB5802;

  --card: rgba(255,255,255,0.03);

  --border: rgba(255,255,255,0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}