@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;

  --primary: #0280E4;
  --secondary: #FB5802;

  --card: rgba(255,255,255,0.03);

  --border: rgba(255,255,255,0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #040b1a;
}

::-webkit-scrollbar-thumb {
  background: #1185f5;
  border-radius: 999px;
  border: 2px solid #040b1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b9cff;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1185f5 #040b1a;
}